In [7]:
import os
os.environ["DATABASE_URL"]="""postgresql://localhost/aitesting?user=read_user&password=abc12345"""
os.environ["DATABASE_SCHEMA"]="campaign"
os.environ["DATABASE_PASSWORD"] = "abc12345"
os.environ["DATABASE_USERNAME"] = "read_user"
os.environ["DATABASE_HOST"] = "localhost"
os.environ["DATABASE_NAME"] = "aitesting"

os.environ["RENDER_PG_USER"] = "johnny5"
os.environ["RENDER_PG_NAME"] = "touchpost"
os.environ["RENDER_PG_PASSWORD"] = "FM2nQgAmT7ROzIWIag7VTX6UizLqtdCM"
os.environ["RENDER_PG_HOST"] = "dpg-clf9upt8td7s738b8aqg-a.ohio-postgres.render.com"
os.environ["RENDER_PG_URL"] = "postgres://johnny5:FM2nQgAmT7ROzIWIag7VTX6UizLqtdCM@dpg-clf9upt8td7s738b8aqg-a.ohio-postgres.render.com/touchpost"
os.environ["RENDER_PG_SCHEMA"] = "campaign"

os.environ["OPENAI_API_KEY"]="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"

In [9]:
import os
import psycopg2
import pandas as pd

# Define the database connection parameters
host = os.environ.get("RENDER_PG_HOST")
database = os.environ.get("RENDER_PG_NAME")
username = os.environ.get("RENDER_PG_USER")
password = os.environ.get("RENDER_PG_PASSWORD")

# Connect to the PostgreSQL database
conn = psycopg2.connect(host=host, dbname=database, user=username, password=password)

# Define the query to find the exposed users within the 7 day conversion window
exposed_query = """
WITH exposed_users AS (
    SELECT DISTINCT e.userid
    FROM campaign.exposures e
    WHERE e.exposuredate BETWEEN current_date - INTERVAL "7 days" AND current_date
)
SELECT u.userid
FROM campaign.universe u
JOIN exposed_users ON u.userid = exposed_users.userid
"""

# Define the query to find the conversion rate of exposed users
exposed_conversion_query = """
WITH conversion_data AS (
    SELECT u.userid, COUNT(c.conversionid) AS conversion_count
    FROM ({exposed_query}) AS u
    LEFT JOIN campaign.conversions c ON u.userid = c.userid AND c.conversindate BETWEEN current_date - INTERVAL "7 days" AND current_date
    GROUP BY u.userid
)
SELECT AVG(conversion_count) as exposed_conversion_rate
FROM conversion_data
""".format(exposed_query=exposed_query)

# Define the query to find the conversion rate of unexposed users
unexposed_conversion_query = """
WITH unexposed_users AS (
    SELECT u.userid
    FROM campaign.universe u
    LEFT JOIN campaign.exposures e ON u.userid = e.userid AND e.exposuredate BETWEEN current_date - INTERVAL "7 days" AND current_date
    WHERE e.exposureid IS NULL
),
conversion_data AS (
    SELECT u.userid, COUNT(c.conversionid) AS conversion_count
    FROM unexposed_users u
    LEFT JOIN campaign.conversions c ON u.userid = c.userid AND c.conversindate BETWEEN current_date - INTERVAL "7 days" AND current_date
    GROUP BY u.userid
)
SELECT AVG(conversion_count) as unexposed_conversion_rate
FROM conversion_data
"""

In [10]:
# Execute the queries and calculate the lift
exposed_conversion_rate = pd.read_sql(exposed_conversion_query, conn).iloc[0]["exposed_conversion_rate"]

/var/folders/d8/l6wbq00104q2qc3cw8s85wcm0000gn/T/ipykernel_70768/2912733293.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  exposed_conversion_rate = pd.read_sql(exposed_conversion_query, conn).iloc[0]["exposed_conversion_rate"]

DatabaseError: Execution failed on sql '
WITH conversion_data AS (
    SELECT u.userid, COUNT(c.conversionid) AS conversion_count
    FROM (
WITH exposed_users AS (
    SELECT DISTINCT e.userid
    FROM campaign.exposures e
    WHERE e.exposuredate BETWEEN current_date - INTERVAL "7 days" AND current_date
)
SELECT u.userid
FROM campaign.universe u
JOIN exposed_users ON u.userid = exposed_users.userid
) AS u
    LEFT JOIN campaign.conversions c ON u.userid = c.userid AND c.conversindate BETWEEN current_date - INTERVAL "7 days" AND current_date
    GROUP BY u.userid
)
SELECT AVG(conversion_count) as exposed_conversion_rate
FROM conversion_data
': syntax error at or near ""7 days""
LINE 8: ...RE e.exposuredate BETWEEN current_date - INTERVAL "7 days" A...
                                                             ^

In [ ]:
unexposed_conversion_rate = pd.read_sql(unexposed_conversion_query, conn).iloc[0]["unexposed_conversion_rate"]
lift = exposed_conversion_rate - unexposed_conversion_rate

# Print the results
print(f"Exposed Conversion Rate: {exposed_conversion_rate}")
print(f"Unexposed Conversion Rate: {unexposed_conversion_rate}")
print(f"Daily Conversion Rate Lift: {lift}")

# Close the database connection
conn.close()